
    <div class="col-sm-9">
        <div class="panel panel-default">
            <!--<div class="panel-heading">-->
                <!--Edit {{news.title}}-->
            <!--</div>-->
            <div class="panel-body">

                <form role="form" ng-submit="submitForm()">

                    <div class="form-group">
                        <label>Title of news : </label>
                        <input class="form-control" ng-model='news.title' value="{{news.title}}">
                    </div>

                    <div class="form-group">
                        <label>Small description : </label>
                        <textarea class="form-control" rows="4" ng-model="news.intro">{{news.intro}}</textarea>
                    </div>
                    <div class="form-group">
                        <label>Description : </label>
                        <textarea id="editor1" ui-tinymce="tinymceOptions" ng-model="news.description">{{news.description}}</textarea>
                    </div>
                    <button type="submit" class="btn btn-default">Submit Button</button>
                    <a href="#news" ng-click="cancelEdit()" class="btn btn-default">Cancel Button</a>
                </form>
            </div>
        </div>
    </div>
