<!-- main content -->
<section class="col-sm-12 maincontent" >
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">

                <div class="row">
                    <div class="col-sm-8" id="" style="margin: 2em 0 1em 0" >
                        <label>
                            <select name="item"  class="form-control input-sm" ng-model="itemSelected">
                                <option value="10" selected="selected">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>records per page
                        </label>
                    </div>

                    <div id="filter" class="filter col-sm-offset-1 col-sm-3 " style="margin: 1em 0 1em 0" >
                        <label>Search : </label> <input type="search" class="form-control " ng-model="itemFilter">
                    </div>
                </div>

                <thead>
                <tr>
                    <th ng-click="sort('book.title')">Lesson
                        <span ng-show='order === "book.title" && !reverse' class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-show='order === "book.title" && reverse' class="glyphicon glyphicon-chevron-up"></span>
                    </th>
                    <th ng-click="sort('year')">Year
                        <span ng-show='order === "year" && !reverse' class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-show='order === "year" && reverse' class="glyphicon glyphicon-chevron-up"></span>
                    </th>
                    <th ng-click="sort('semester')">Semester
                        <span ng-show='order === "semester" && !reverse' class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-show='order === "semester" && reverse' class="glyphicon glyphicon-chevron-up"></span>
                    </th>

                    <th>
                        Homeworks
                    </th>
                </tr>

                </thead>
                <tbody >
                <!--@foreach($packages->all() as $i=>$package)-->
                <tr ng-repeat="(index,course) in courses | filter:itemFilter | orderBy:order:reverse | limitTo:itemSelected   "  >

                    <td ><a  ng-href="#/lessons/{{course.book.id}}">{{course.book.title }}</a></td>
                    <td class="input-sm text-center">{{course.year }}</td>
                    <td class="text-center">{{course.semester}}</td>
                    <td>
                        <a class="btn btn-info " ng-href="#/homeworks/{{course.id}}">homeworks</a>
                    </td>

                </tr>
                <!--@endforeach-->
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- /main -->

</aside>